@import url(https://themes.googleusercontent.com/fonts/css?kit=IDPVXUje5NpgLYeEGPybYzpTV0h06pB9kazILAeHIraOJKESKZmYZMDIpVPtlAKWGVBLPRyCEDrxfoo9KcbIB_eg0uTt769Q81RFqPPpcC8);

.lst-kix_38hv0jf5ants-7>li:before {
    content: "\0025cb   "
}

.lst-kix_38hv0jf5ants-6>li:before {
    content: "\0025cf   "
}

.lst-kix_38hv0jf5ants-8>li:before {
    content: "\0025a0   "
}

.lst-kix_eihwvk59mr5s-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_eihwvk59mr5s-1 {
    list-style-type: none
}

ul.lst-kix_eihwvk59mr5s-0 {
    list-style-type: none
}

.lst-kix_eihwvk59mr5s-1>li:before {
    content: "\0025cb   "
}

.lst-kix_eihwvk59mr5s-2>li:before {
    content: "\0025a0   "
}

.lst-kix_eihwvk59mr5s-3>li:before {
    content: "\0025cf   "
}

.lst-kix_eihwvk59mr5s-4>li:before {
    content: "\0025cb   "
}

.lst-kix_eihwvk59mr5s-6>li:before {
    content: "\0025cf   "
}

.lst-kix_eihwvk59mr5s-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_eihwvk59mr5s-8 {
    list-style-type: none
}

ul.lst-kix_eihwvk59mr5s-7 {
    list-style-type: none
}

.lst-kix_eihwvk59mr5s-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_eihwvk59mr5s-6 {
    list-style-type: none
}

ul.lst-kix_eihwvk59mr5s-5 {
    list-style-type: none
}

.lst-kix_eihwvk59mr5s-7>li:before {
    content: "\0025cb   "
}

ul.lst-kix_eihwvk59mr5s-4 {
    list-style-type: none
}

ul.lst-kix_eihwvk59mr5s-3 {
    list-style-type: none
}

ul.lst-kix_eihwvk59mr5s-2 {
    list-style-type: none
}

.lst-kix_38hv0jf5ants-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_srah13piyb5r-8 {
    list-style-type: none
}

.lst-kix_38hv0jf5ants-3>li:before {
    content: "\0025cf   "
}

.lst-kix_38hv0jf5ants-5>li:before {
    content: "\0025a0   "
}

ul.lst-kix_srah13piyb5r-6 {
    list-style-type: none
}

ul.lst-kix_srah13piyb5r-7 {
    list-style-type: none
}

ul.lst-kix_srah13piyb5r-4 {
    list-style-type: none
}

ul.lst-kix_srah13piyb5r-5 {
    list-style-type: none
}

.lst-kix_srah13piyb5r-8>li:before {
    content: "\0025a0   "
}

ul.lst-kix_srah13piyb5r-2 {
    list-style-type: none
}

ul.lst-kix_srah13piyb5r-3 {
    list-style-type: none
}

.lst-kix_38hv0jf5ants-0>li:before {
    content: "\0025cf   "
}

ul.lst-kix_srah13piyb5r-0 {
    list-style-type: none
}

ul.lst-kix_srah13piyb5r-1 {
    list-style-type: none
}

.lst-kix_srah13piyb5r-6>li:before {
    content: "\0025cf   "
}

.lst-kix_srah13piyb5r-7>li:before {
    content: "\0025cb   "
}

.lst-kix_38hv0jf5ants-1>li:before {
    content: "\0025cb   "
}

.lst-kix_38hv0jf5ants-2>li:before {
    content: "\0025a0   "
}

.lst-kix_srah13piyb5r-5>li:before {
    content: "\0025a0   "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

ul.lst-kix_38hv0jf5ants-0 {
    list-style-type: none
}

.lst-kix_srah13piyb5r-2>li:before {
    content: "\0025a0   "
}

.lst-kix_srah13piyb5r-3>li:before {
    content: "\0025cf   "
}

.lst-kix_srah13piyb5r-0>li:before {
    content: "\0025cf   "
}

.lst-kix_srah13piyb5r-4>li:before {
    content: "\0025cb   "
}

ul.lst-kix_38hv0jf5ants-7 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-8 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-5 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-6 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-3 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-4 {
    list-style-type: none
}

.lst-kix_srah13piyb5r-1>li:before {
    content: "\0025cb   "
}

ul.lst-kix_38hv0jf5ants-1 {
    list-style-type: none
}

ul.lst-kix_38hv0jf5ants-2 {
    list-style-type: none
}

ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}


.c18 {
    border-right-style: solid;
    padding: 5pt 5pt 5pt 5pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 378pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c14 {
    border-right-style: solid;
    padding: 3.6pt 3.6pt 3.6pt 3.6pt;
    border-bottom-color: #ffffff;
    border-top-width: 0pt;
    border-right-width: 0pt;
    border-left-color: #ffffff;
    vertical-align: top;
    border-right-color: #ffffff;
    border-left-width: 0pt;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-width: 0pt;
    width: 126pt;
    border-top-color: #ffffff;
    border-bottom-style: solid
}

.c13 {
    margin-left: 71pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0699977272727272;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: 90pt
}

.c10 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0699977272727272;
    orphans: 2;
    widows: 2;
    text-align: left;
    margin-right: 90pt
}


.c6 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 11pt; */
    font-family: "Lato";
    font-style: normal
}

.c21 {
    color: #f2511b;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    /* font-size: 12pt; */
    font-family: "Raleway";
    font-style: normal
}

.c4 {
    color: #ef7855;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Poppins";
    font-style: normal
}

.c9 {
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Lato";
    font-style: normal
}

.c7 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Lato";
    font-style: normal
}

.c23 {
    margin-left: 22.5pt;
    padding-top: 5pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c5 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    page-break-after: avoid;
    text-align: center
}

.c31-table {
    border-spacing: 0;
    border-collapse: collapse;
    margin-right: auto;
    font-size: 20pt;
}

.c40 {
    padding-top: 5pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c11 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}


.c19 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
    
}

.c46 {
    margin-left: -0.8pt;
    orphans: 2;
    widows: 2;
    margin-right: -1.5pt
}

.c24 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right;
    margin-right: 0
}

.c20 {
    padding-top: 6pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c33 {
    color: #666666;
    font-weight: 400;
    /* font-size: 9pt; */
    font-family: "Lato"
}

.c44 {
    padding-top: 3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c2 {
    padding-top: 4pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c38 {
    padding-top: 16pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    text-align: left
}

.c17 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: right
}

.c39 {
    color: #000000;
    /* font-size: 24pt; */
    font-family: "Raleway"
}

.c26 {
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal
}

.c35 {
    color: #000000;
    /* font-size: 12pt; */
    font-family: "Raleway"
}

.c52 {
    background-color: #ffffff;
    max-width: 504pt;
    padding: 36pt 54pt 36pt 54pt
    
}

.c29 {
    color: #f2511b;
    /* font-size: 16pt; */
    font-family: "Raleway"
}

.c15 {
    padding: 0;
    margin: 0
}

.c0 {
    color: inherit;
    text-decoration: inherit
}

.c30 {
    border: 1px solid black;
    margin: 5px
}

.c47 {
    color: #666666;
    font-family: "Arial"
}

.accent {
    color: #f2511b;
}


.c34 {
    height: 80.2pt
}

.c49 {
    height: 156pt
}

.c28 {
    font-weight: 700
}


.c25 {
    height: 11pt
}

.c48 {
    font-family: "Calibri"
}

.c16 {
    height: 90pt
}

.c37 {
    font-family: "Lato"
}

.c43 {
    height: 140.2pt
}


.c36 {
    font-weight: 400
}

.c8 {
    color: #d44500
}

.c51 {
    page-break-after: avoid
}


:root {
    font-size:20px
}

.title {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 3pt;
    color: #f2511b;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.0;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: right
}

li {
    color: #000000;
    font-size:1em ;
    font-family: "Lato"
}

p {
    margin: 0;
    color: #000000;
    font-size: 20pt;
    font-family: "Lato"
}

h1 {
    padding-top: 4pt;
    color: #000000;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 0pt;
    font-family: "Raleway";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 6pt;
    color: #000000;
    font-weight: 700;
    font-size: 1em;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 6pt;
    color: #666666;
    font-size: 1em;
    padding-bottom: 0pt;
    font-family: "Lato";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 8pt;
    -webkit-text-decoration-skip: none;
    color: #666666;
    text-decoration: underline;
    font-size: 1em;
    padding-bottom: 0pt;
    line-height: 1.15;
    page-break-after: avoid;
    text-decoration-skip-ink: none;
    font-family: "Trebuchet MS";
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 8pt;
    color: #666666;
    /* font-size: 11pt; */
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 8pt;
    color: #666666;
    /* font-size: 11pt; */
    padding-bottom: 0pt;
    font-family: "Trebuchet MS";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.hr1 { /*horizontal line*/
    display: block;
    width: 418.00px; 
    /* height: 2.67px; */
    border: 0;
    border-top: 3.25px solid #000000;
    margin-right: 0;
    padding: 0;
}
